{{ define "main" }}
<div class="section">
    <article>
        <header>
            <div>
                <div class="w-100 py-5"
                     style="background:url('{{ .Params.featured_image }}') center center; background-size: cover;">
                    <div class="py-5 text-center">
                        <h1> {{ .Title }}</h1>
                        <div style="margin-top: 1em;">
                            <span class="bg-secondary badge rounded-pill text-decoration-none">{{ .Params.Time }}</span>
                            {{ range .Params.Tags }}
                            <a class="bg-primary badge rounded-pill text-decoration-none" href="/tags/{{ . }}">{{ . }}</a>
                            {{ end }}
                        </div>
                    </div>

                </div>
            </div>

        </header>
        <div class="container py-5">
            <div class="content">
                {{ .Content }}
            </div>
        </div>
    </article>
</div>
{{ end }}