<div class="card">
  {{ with .Params.unsplash_image }}
  <img src="https://source.unsplash.com/{{ . }}/640x360" class="card-img-top" alt="">
  {{ else }}
  <img src="/images/food-placeholder.jpg" class="card-img-top" alt="">
  {{ end }}
  <div class="card-body">
    <a href="{{ .Permalink }}">
      <h5 class="card-title">{{ .Title }}</h5>
    </a>
    <span class="badge rounded-pill bg-secondary">{{ .Params.Time }}</span>

    {{ range .Params.Tags }}
    <span class="badge rounded-pill bg-primary">{{ . }}</span>
    {{ end }}
  </div>
</div>
